{% extends '/blocks/submain.twig' %}

{% block body %}
{% include '/blocks/arksubmenu.twig' %}

<div class="container mh mt-25">
	<div class="col-lg-12 col-12">
		<div class="card-group">
			<div class="card" style="margin-bottom:0px!important;">
				<div class="card-body">
					<h4 class="card-title b-0 px-0 text-center" title="Wallet Address"><i class="mdi mdi-wallet"></i>
						Address
					</h4>
					<p class="text-muted text-center" title="Copy to Clipboard">{{ walletId }}</p>
				</div>
			</div>

			<div class="card" style="margin-bottom:0px!important;">
				<div class="card-body">
					<h4 class="card-title b-0 px-0 text-center"><i class="mdi mdi-key"></i> Public Key</h4>
					<p class="text-muted text-center" id='publickey' title="Copy to Clipboard">
					</p>
				</div>
			</div>

			<div class="card" style="margin-bottom:0px!important;">
				<div class="card-body">
					<h4 class="card-title b-0 px-0 text-center"><i class="mdi mdi-coins"></i> Balance</h4>
					<p class="text-muted text-center" id='balance' title="Copy to Clipboard"></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mh" style="margin-top:25px;">
	<div class="col-lg-12 col-12">
		<div class="box box-slided-up">
			<div class="box-header with-border">
				<h4 class="box-title">Delegate Information</h4>
				<ul class="box-controls pull-right">
					<li><a class="box-btn-slide" href="#"></a></li>
				</ul>
			</div>
			<div class="box-body ribbon-box">
				<div class="box-body" style="border:1px solid black;">
					<h5><strong>Description</strong></h5>
					<p>The ARK Blockchain is a blockchain with a native Cryptoasset called ARK. Ark
						utilizes the Delegated-Proof-of-Stake (DPoS) consensus mechanism and has 51 active
						Delegates (Validators) who secure the network. Click here to learn more about how Ark's DPoS
						consensus mechanism works.
					</p>
					<p>Below you will find the delegate information related to this wallet address.</p>
				</div>
				<div class="table-responsive">
					<table class="table no-margin table-hover">
						<tbody>
							<tr>
								<td>Is this wallet a delegate? </td>
								<td id='isdelegate'>
								</td>
							</tr>
							<tr>
								<td>Delegate Username</td>
								<td id='username'>
								</td>
							</tr>
							<tr>
								<td>Votes</td>
								<td id='votes'>
								</td>
							</tr>
							<tr>
								<td>Approval</td>
								<td id='approval'>
								</td>
							</tr>
							<tr>
								<td>Delegate Rank</td>
								<td id='rank'>
								</td>
							</tr>
							<tr>
								<td>Is Resigned?</td>
								<td id='isresigned'>
								</td>
							</tr>
							<tr>
								<td>Produced Blocks</td>
								<td id='blocksproduced'>
								</td>
							</tr>
							<tr>
								<td>Last Forged Block</td>
								<td id='lastproducedblock'>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mh" style="margin-top: 25px;">
	<div class="col-lg-12 col-12">
		<div class="box box-slided-up">
			<div class="box-header with-border">
				<h4 class="box-title">Persona Passport</h4>
				<ul class="box-controls pull-right">
					<li><a class="box-btn-slide" href="#"></a></li>
					<li><a class="box-btn-fullscreen" href="#"></a></li>
				</ul>
			</div>
			<div class="box-body ribbon-box">
				<div class="ribbon ribbon-danger" style="color:#000!important;">Beta</div>
				<div class="box-body" style="border:1px solid black;">
					<h5><strong>Description of Persona Passport</strong></h5>
					<p>Persona Passport is a module of <strong>Persona Open Crypto Services</strong> (POCS)
						introduced
						by
						Qredit.</p>
					<p>POCS is an <strong><u>optional</u></strong> feature for Qredit Motion users that is
						disabled by default. Qredit Motion users will have to agree to additional terms and
						conditions before enabling Persona.</p>
					<p>POCS is designed to fight:
					<ul>
						<li>Money Laundering</li>
						<li>Impersonation</li>
						<li>Sock Puppets</li>
						<li>Data Leak of Sensitive Information</li>
						<li>Single Upload of Sensitive Documents for 3rd Party Service Providers <u>(i.e: Crypto
								Exchanges, Loan
								Providers, Webshops, etc.)</u></li>
					</ul>
					</p>
				</div><br>

				<div class="table-responsive">
					<table class="table no-margin table-hover">
						<thead>
							<tr>
								<th scope="col">Request</th>
								<th scope="col">Authentication</th>
								<th scope="col">Response</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Is Motion Address?</td>
								<td id='authismotionaddress'></td>
								<td id='dataismotionaddress'></td>
							</tr>
							<tr>
								<td>Has Account Blocked</td>
								<td id='authhasaccountblocked'></td>
								<td id='datahasaccountblocked'></td>
							</tr>
							<tr>
								<td>Profile Banner</td>
								<td id='authprofilebanner'></td>
								<td id='dataprofilebanner'></td>
							</tr>
							<tr>
								<td>Profile Picture</td>
								<td id='authalternateprofilepicture'></td>
								<td id='dataalternateprofilepicture'></td>
							</tr>
							<tr>
								<td>KYC Verified</td>
								<td id='authiskycverified'></td>
								<td id='dataiskycverified'></td>
							</tr>
							<tr>
								<td>KYC Valid Till</td>
								<td id='authkycvalidtill'></td>
								<td id='datakycvalidtill'></td>
							</tr>
							<tr>
								<td>Contacts</td>
								<td id='authhasthismanycontacts'></td>
								<td id='datahasthismanycontacts'></td>
							</tr>
							<tr>
								<td>Alias</td>
								<td id='authalias'></td>
								<td id='dataalias'></td>
							</tr>
							<tr>
								<td>Last Login (Qredit Motion)</td>
								<td id='authlastlogin'></td>
								<td id='datalastlogin'></td>
							</tr>
							<tr>
								<td>Fiat Value In Qredit Motion Wallet</td>
								<td id='authhasthisamountoffiatvalue'></td>
								<td id='datahasthisamountoffiatvalue'></td>
							</tr>
							<tr>
								<td>Crypto Value In Qredit Motion Wallet</td>
								<td id='authhasthisamountofcryptovalue'></td>
								<td id='datahasthisamountofcryptovalue'></td>
							</tr>
							<tr>
								<td>Average Monthly Crypto Value</td>
								<td id='authaveragemonthlycryptovalue'></td>
								<td id='dataaveragemonthlycryptovalue'></td>
							</tr>
							<tr>
								<td>Home Address Verified</td>
								<td id='authhasaddressverified'></td>
								<td id='datahasaddressverified'></td>
							</tr>
							<tr>
								<td>Type of Account</td>
								<td id='auththistypeofuser'></td>
								<td id='datathistypeofuser'></td>
							</tr>
							<tr>
								<td>Profile Rating</td>
								<td id='authprofilerating'></td>
								<td id='dataprofilerating'></td>
							</tr>
							<tr>
								<td>Phone Verified</td>
								<td id='authhasphoneverified'></td>
								<td id='datahasphoneverified'></td>
							</tr>
							<tr>
								<td>Email Verified</td>
								<td id='authhasemailverified'></td>
								<td id='datahasemailverified'></td>
							</tr>
							<tr>
								<td>Facebook Connected</td>
								<td id='authhasfacebookconnected'></td>
								<td id='datahasfacebookconnected'></td>
							</tr>
							<tr>
								<td>LinkedIn Connected</td>
								<td id='authhaslinkedinconnected'></td>
								<td id='datahaslinkedinconnected'></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mh">
	<div class="col-lg-12 col-12">
		<div class="box box-slided-up">
			<div class="box-header with-border">
				<h4 class="box-title">Persona Linked Cryptocurrency Addresses</h4>
				<ul class="box-controls pull-right">
					<li><a class="box-btn-slide" href="#"></a></li>
					<li><a class="box-btn-fullscreen" href="#"></a></li>
				</ul>
			</div>
			<div class="box-body ribbon-box">
				<div class="ribbon ribbon-danger" style="color:#000!important;">Beta</div>
				<div class="box-body" style="border:1px solid black;">
					<h5><strong>Description of Persona Linked Cryptocurrency Addresses</strong></h5>
					<p>Persona Linked Cryptocurrency Addresses is a module of <strong>Persona Open Crypto
							Services</strong> (POCS)
						introduced
						by
						Qredit.</p>
					<p>POCS is an <strong><u>optional</u></strong> feature for Qredit Motion users that is
						disabled by default. Qredit Motion users will have to agree to additional terms and
						conditions before enabling Persona.</p>
					<p>POCS is designed to fight:
					<ul>
						<li>Money Laundering</li>
						<li>Impersonation</li>
						<li>Sock Puppets</li>
						<li>Data Leak of Sensitive Information</li>
						<li>Single Upload of Sensitive Documents for 3rd Party Service Providers <u>(i.e: Crypto
								Exchanges, Loan
								Providers, Webshops, etc.)</u></li>
					</ul>
					</p>
				</div><br>

				<div class="box-body" style="border:1px solid black;">
					<h5><strong>Badge Description</strong></h5>
					<ul>
						<li><strong>False:</strong> The code returned an error or the wallet might not be linked as a
							Qredit
							Motion
							address.</li>
						<li><strong>Unknown:</strong> The owner of this wallet has not provided any details.</li>
						<li><strong>Private:</strong> The owner of this wallet has decided not to share any details.
						</li>
					</ul>
				</div>
				<div class="table-responsive">
					<table class="table no-margin table-hover">
						<tbody>
							<tr>
								<td><i class="cc BTC" title="Bitcoin"></i></td>
								<td>
									<span class="badge badge-warning">Unknown</span>
								</td>
							</tr>
							<tr>

								<td><i class="cc DOGE" title="Doge"></i></td>
								<td>
									<span class="badge badge-warning">Unknown</span>
								</td>
							</tr>
							<tr>
								<td><i class="cc ARK" title="Ark"></i></td>
								<td>
									<span class="badge badge-warning">Unknown</span>
								</td>
							</tr>
							<tr>
								<td><img alt="xqr" style="margin-top:-5px!important;" src="/img/favicon-32x32.png"></td>
								<td>
									<span class="badge badge-warning">Unknown</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mh">
	<div class="col-lg-12 col-12">
		<div class="box box-slided-up">
			<div class="box-header with-border">
				<h4 class="box-title">ASLP Token Ownership</h4>
				<ul class="box-controls pull-right">
					<li><a class="box-btn-slide" href="#"></a></li>
					<li><a class="box-btn-fullscreen" href="#"></a></li>
				</ul>
			</div>
			<div class="box-body">
				<div class="table-responsive">
					<table class="table no-margin table-hover">
						<thead>
							<tr>
								<th scope="col">Version</th>
								<th scope="col">Creator Address</th>
								<th scope="col">Token ID</th>
								<th scope="col">Name</th>
								<th scope="col">Symbol</th>
								<th scope="col">Genesis QTY</th>
								<th scope="col">Circulation</th>
								<th scope="col">Pausable</th>
								<th scope="col">Mintable</th>
								<th scope="col">QTY Owners</th>
							</tr>
						</thead>
						<tbody id='wallettokens'></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container mh">
	<div class="col-lg-12 col-12">
		<div class="box box-slided-up">
			<div class="box-header with-border">
				<h4 class="box-title">ASLP1 Tokens</h4>
				<ul class="box-controls pull-right">
					<li><a class="box-btn-slide" href="#"></a></li>
					<li><a class="box-btn-fullscreen" href="#"></a></li>
				</ul>
			</div>
			<div class="box-body">
				<div class="table-responsive">
					<table class="table no-margin table-hover">
						<thead>
							<tr>
								<th scope="col">Document Uri</th>
								<th scope="col">Token ID</th>
								<th scope="col">Is Owner</th>
								<th scope="col">Balance</th>
							</tr>
						</thead>
						<tbody id='tokensbyaddress'></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container mh">
	<div class="col-lg-12 col-12">
		<div class="box box-slided-up">
			<div class="box-header with-border">
				<h4 class="box-title">Wallet Transactions</h4>
				<ul class="box-controls pull-right">
					<li><a class="box-btn-slide" href="#"></a></li>
					<li><a class="box-btn-fullscreen" href="#"></a></li>
				</ul>
			</div>
			<div class="box-body">
				<div class="table-responsive">
					<table class="table no-margin table-hover">
						<thead>
							<tr>
								<th scope="col">TX ID</th>
								<th scope="col">Timestamp</th>
								<th scope="col">Sender</th>
								<th scope="col">Recipient</th>
								<th scope="col">Amount</th>
								<th scope="col">Confirmations</th>
								<th scope="col">Smartbridge</th>
							</tr>
						</thead>
						<tbody id='wallettransactions'></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% include '/cards/footer.twig' %}
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

	$(document).ready(function () {

		var socket = io();

		socket.emit('getpassport', { personaAsset: 'ARK', walletId: '{{ walletId }}' });
		socket.on('showpassport', function (data) {

			$('#authismotionaddress').html(data.authismotionaddress);
			$('#dataismotionaddress').html(data.dataismotionaddress);

			$('#authhasaccountblocked').html(data.authhasaccountblocked);
			$('#datahasaccountblocked').html(data.datahasaccountblocked);

			$('#authprofilebanner').html(data.authprofilebanner);
			$('#dataprofilebanner').html(data.dataprofilebanner);

			$('#authalternateprofilepicture').html(data.authalternateprofilepicture);
			$('#dataalternateprofilepicture').html(data.dataalternateprofilepicture);

			$('#authiskycverified').html(data.authiskycverified);
			$('#dataiskycverified').html(data.dataiskycverified);

			$('#authkycvalidtill').html(data.authkycvalidtill);
			$('#datakycvalidtill').html(data.datakycvalidtill);

			$('#authhasthismanycontacts').html(data.authhasthismanycontacts);
			$('#datahasthismanycontacts').html(data.datahasthismanycontacts);

			$('#authalias').html(data.authalias);
			$('#dataalias').html(data.dataalias);

			$('#authlastlogin').html(data.authlastlogin);
			$('#datalastlogin').html(data.datalastlogin);

			$('#authhasthisamountoffiatvalue').html(data.authhasthisamountoffiatvalue);
			$('#datahasthisamountoffiatvalue').html(data.datahasthisamountoffiatvalue);

			$('#authhasthisamountofcryptovalue').html(data.authhasthisamountofcryptovalue);
			$('#datahasthisamountofcryptovalue').html(data.datahasthisamountofcryptovalue);

			$('#authaveragemonthlycryptovalue').html(data.authaveragemonthlycryptovalue);
			$('#dataaveragemonthlycryptovalue').html(data.dataaveragemonthlycryptovalue);

			$('#authhasaddressverified').html(data.authhasaddressverified);
			$('#datahasaddressverified').html(data.datahasaddressverified);

			$('#auththistypeofuser').html(data.auththistypeofuser);
			$('#datathistypeofuser').html(data.datathistypeofuser);

			$('#authhasphoneverified').html(data.authhasphoneverified);
			$('#datahasphoneverified').html(data.datahasphoneverified);

			$('#authprofilerating').html(data.authprofilerating);
			$('#dataprofilerating').html(data.dataprofilerating);

			$('#authhasemailverified').html(data.authhasemailverified);
			$('#datahasemailverified').html(data.datahasemailverified);

			$('#authhasfacebookconnected').html(data.authhasfacebookconnected);
			$('#datahasfacebookconnected').html(data.datahasfacebookconnected);

			$('#authhaslinkedinconnected').html(data.authhaslinkedinconnected);
			$('#datahaslinkedinconnected').html(data.datahaslinkedinconnected);

		});
	});
</script>
<!-- Qredit -->
<script type="text/javascript">

	$(document).ready(function () {

		var socket = io();

		socket.emit('arkgetwallettransactions', { walletId: '{{ walletId }}' });

		socket.on('arkshowwallettransactions', function (data) {

			var mainTable = document.getElementById("wallettransactions");
			var tr,
				td;

			data.forEach(function (row) {

				tr = document.createElement("tr");


				td = document.createElement("td");
				td.innerHTML = '<a href="/ark/transaction/' + row.id + '">' + row.id.substr(0, 4) + '...' + row.id.substr(-4) + '</a>';
				tr.appendChild(td);


				td = document.createElement("td");
				td.innerHTML = timeDifference(row.timestamp);
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = '<a href="/ark/wallet/' + row.sender + '">' + row.sender.substr(0, 5) + '...' + row.sender.substr(-5) + '</a>';
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = '<a href="/ark/wallet/' + row.recipient + '">' + row.recipient.substr(0, 5) + '...' + row.recipient.substr(-5) + '</a>';
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = (parseFloat(row.amount) / 100000000).toFixed(0) + ' ARK';
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.confirmations;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.smartbridge;
				tr.appendChild(td);

				wallettransactions.appendChild(tr);

			});

		});

	});
	function timeDifference(datetime) {

		var d = new Date();
		var current = d.getTime();
		var previous = Date.parse(datetime);

		var msPerMinute = 60 * 1000;
		var msPerHour = msPerMinute * 60;
		var msPerDay = msPerHour * 24;
		var msPerMonth = msPerDay * 30;
		var msPerYear = msPerDay * 365;

		var elapsed = current - previous;

		if (elapsed < msPerMinute) {
			return Math.round(elapsed / 1000) + ' seconds ago';
		} else if (elapsed < msPerHour) {
			return Math.round(elapsed / msPerMinute) + ' minutes ago';
		} else if (elapsed < msPerDay) {
			return Math.round(elapsed / msPerHour) + ' hours ago';
		} else if (elapsed < msPerMonth) {
			return '± ' + Math.round(elapsed / msPerDay) + ' days ago';
		} else if (elapsed < msPerYear) {
			return '± ' + Math.round(elapsed / msPerMonth) + ' months ago';
		} else {
			return '± ' + Math.round(elapsed / msPerYear) + ' years ago';
		}
	}

</script>
<script type="text/javascript">$(document).ready(function () {
		$("button-txid").click(function (event) {
			event.preventDefault();
			CopyToClipboard("{{ walletId }}", true, "Value copied");
		});
	});

	function CopyToClipboard(value, showNotification, notificationText) {
		var $temp = $("<input>");
		$("body").append($temp);
		$temp.val(value).select();
		document.execCommand("copy");
		$temp.remove();

		if (typeof showNotification === 'undefined') {
			showNotification = true;
		}
		if (typeof notificationText === 'undefined') {
			notificationText = "Copied to clipboard";
		}

		var notificationTag = $("div.copy-notification");
		if (showNotification && notificationTag.length == 0) {
			notificationTag = $("<div/>", {
				"class": "copy-notification",
				text: notificationText
			});
			$("body").append(notificationTag);

			notificationTag.fadeIn("slow", function () {
				setTimeout(function () {
					notificationTag.fadeOut("slow", function () {
						notificationTag.remove();
					});
				}, 1000);
			});
		}
	}
</script>
<script type="text/javascript">

	$(document).ready(function () {

		var socket = io();

		socket.emit('arkgetwallettokens', { walletId: '{{ walletId }}' });

		socket.on('arkshowwallettokens', function (data) {

			var mainTable = document.getElementById("wallettokens");

			var tr,
				td;

			data.forEach(function (row) {

				tr = document.createElement("tr");

				td = document.createElement("td");
				td.innerHTML = row.type;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = '<a href="/ark/wallet/' + row.owneraddress + '">' + row.owneraddress.substr(0, 5) + '...' + row.owneraddress.substr(-5) + '</a>';
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = '<a href="/ark/token/' + row.tokenid + '">' + row.tokenid.substr(0, 5) + '...' + row.tokenid.substr(-5) + '</a>';
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.name;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.symbol;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.genesisquantity;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = (parseFloat(row.circsupply) / 100000000).toFixed(0);
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.pausable;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.mintable;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.tokenowners;
				tr.appendChild(td);

				wallettokens.appendChild(tr);

			});

		});

	});
</script>
<script type="text/javascript">

	$(document).ready(function () {

		var socket = io();

		socket.emit('arkgettokensbyaddress', { walletId: '{{ walletId }}' });
		socket.on('arkshowtokensbyaddress', function (data) {
			console.log(data);
			
			var mainTable = document.getElementById("tokensbyaddress");

			var tr,
				td;

			data.forEach(function (row) {

				tr = document.createElement("tr");

				td = document.createElement("td");
				td.innerHTML = '<img alt="token img" style="margin-top:-5px!important;" src="' + row.documentUri + '">';
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.tokenIdHex;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.isOwner;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.tokenBalance;
				tr.appendChild(td);

				td = document.createElement("td");
				td.innerHTML = row.ownerAddress;
				tr.appendChild(td);

				tokensbyaddress.appendChild(tr);

			});

		});

	});
</script>
<script type="text/javascript">

	$(document).ready(function () {

		var socket = io();

		socket.emit('arkgetwallet', { walletId: '{{ walletId }}' });
		socket.on('arkshowwallet', function (data) {

			$('#address').html(data.address);
			$('#publickey').html(data.publickey);
			$('#balance').html(data.balance + 'ARK');
			$('#isdelegate').html(data.isdelegate);

		});

	});
</script>


<script type="text/javascript">

	$(document).ready(function () {

		var socket = io();

		socket.emit('arkgetdelegatebyid', { walletId: '{{ walletId }}' });
		socket.on('arkshowdelegatebyid', function (data) {

			$('#username').html(data.username);
			$('#votes').html(data.votes);
			$('#rank').html(data.rank);
			$('#blocksproduced').html(data.blocksproduced);
			$('#lastproducedblock').html(data.lastproducedblock);
			$('#approval').html(data.approval);
			$('#isresigned').html(data.isresigned);

		});

	});
</script>


{% endblock %}